body {
    margin: 0;
    padding: 0;
    background-color: var(--tabla-color6);
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas */
    padding: 0;
    margin: 10px;
    gap: 5px; /* Espacio entre los días */
    
}

.first-day {
    grid-column-start: 2; /* Comienza el primer día de octubre en la segunda columna */
}

.day-name {
    font-family: var(--font-family1);
    background-color: var(--tabla-color4);
    color: white;
    padding: 10px;
    text-align: center;
}

div {
    text-align: center;
    width: 300px;
}

input[type="checkbox"] {
    display: none; /* Ocultar los checkboxes */
}

li {
    padding: 5px;
    text-align: center;
}



/* Estilos por defecto para los labels (días) */
label {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border: 1px solid var(--tabla-color3);
    border-radius: 5px;
    background-color: var(--tabla-color6);
}
.boton_inicio {
    font-family: var(--font-family1);
    color: white;
    padding: 10px 20px;
    background-color: var(--tabla-color4);
    border-radius: 10px;
    
}
a {
    font-family: var(--font-family5);
    text-decoration: none;
    color: white;
}
.horario_early {
    font-family: var(--font-family1);
    color: blue;
    font-weight: 800;
    border-bottom: solid 1px blue;
    width: 250px;
}

.horario_late {
    font-family: var(--font-family1);
    color: green;
    font-weight: 800;
    border-bottom: solid 1px green;
    width: 250px;
}
h1 {
    font-family: var(--font-family1);
    text-align: center;
    font-size: 40px;
}
h2 {
    font-family: var(--font-family1);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 40px;
    font-size: 30px;  
    
}
.boton_inicio {
    position: relative;
    left: 150px;
    font-size: 20px;
    margin-top: 30px;
}

.center-container {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
   
}

/* Estilo para el fotter */
.fotter {
    font-family: var(--font-family1);
    text-align: center; /* Centrar texto dentro del div */
    padding: 20px;      /* Espaciado interno */
    background-color:var(--tabla-color6); /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 90%; /* Para que no ocupe todo el ancho y tenga algo de espacio */
    margin-left: 40px;
    margin-top: 30px;
}

/* Estilos opcionales para el texto */
h3 {
    margin: 10px 5px;
}

p {
    margin: 15px 5px;
}