body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--tabla-color6);
}

header {
    background: var(--tabla-color4);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

#calendar {
    /* Estilo para el calendario, puede usar librerías como fullcalendar.js */
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#task-list {
    margin-top: 20px;
}

#add-task {
    margin-top: 20px;
}

#task-form {
    display: flex;
    flex-direction: column;
}

#task-form input {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: var(--tabla-color4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--tabla-color4);
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--tabla-color4);;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    #task-form {
        flex-direction: column;
    }

    #task-form input, button {
        width: 100%;
    }
}
