:root {

    /* Fuente de color para la página web */
    --tabla-color1: #000000; 
    --tabla-color2: #0C1821;
    --tabla-color3: #1B2A41;
    --tabla-color4: #324A5F;
    --tabla-color5: #CCC9DC;
    --tabla-color6: #fff;

    /* Fuente de letras para la página web */

    --font-family1: 'Roboto', sans-serif;
    --font-family2: 'Open Sans', sans-serif;
    --font-family3: 'Lato', sans-serif;
    --font-family4: 'Montserrat', sans-serif;
    --font-family5: 'Merriweather', serif;
    --font-family6: 'Poppins', sans-serif;


}